In [89]:
import pandas as pd
import numpy as np

from sklearn.datasets import load_boston,load_diabetes
from statsmodels.stats.outliers_influence import variance_inflation_factor


from sklearn.model_selection import train_test_split

from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.linear_model import LinearRegression, Lasso, Ridge

from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from scipy.stats import shapiro, kstest, normaltest

import matplotlib.pyplot as plt
import seaborn as sns

import pickle
import json

import warnings
warnings.filterwarnings('ignore')

# Step I : Problem Statement

To predict patient's medical insurance by usnig some features:
     age     : 	age of primary beneficiary
     gender	 :  insurance contractor gender, female, male
     bmi	 :  Body mass index, providing an understanding of body, weights that are relatively high or low relative to                   height, objective index of body weight using the ratio of height to weight
     children:	Number of children covered by health insurance
     smoker	 :  Smoking
     region	 :  the beneficiary's residential area in the US, northeast, southeast, southwest, northwest

# Step II : Data Gathering

In [68]:
df = pd.read_csv("medical_insurance.csv")
df

      age  gender     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [70]:
df.tail(1).T

                1337
age               61
gender        female
bmi            29.07
children           0
smoker           yes
region     northwest
charges   29141.3603

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   gender    1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [35]:
df.select_dtypes(include=object)

      gender smoker     region
0     female    yes  southwest
1       male     no  southeast
2       male     no  southeast
3       male     no  northwest
4       male     no  northwest
...      ...    ...        ...
1333    male     no  northwest
1334  female     no  northeast
1335  female     no  southeast
1336  female     no  southwest
1337  female    yes  northwest

[1338 rows x 3 columns]

# Step III : EDA

### gender

In [36]:
df['gender'].value_counts()

male      676
female    662
Name: gender, dtype: int64

In [37]:
df['gender'].value_counts().to_dict()

{'male': 676, 'female': 662}

In [38]:
df['gender'].replace({'male': 0, 'female': 1}, inplace = True)

### smoker

In [39]:
df['smoker'].value_counts().to_dict()

{'no': 1064, 'yes': 274}

In [40]:
df['smoker'].replace({'no': 0, 'yes': 1}, inplace = True)

### region

In [41]:
df['region'].value_counts()

southeast    364
southwest    325
northwest    325
northeast    324
Name: region, dtype: int64

In [42]:
df = pd.get_dummies(df , columns=['region'])
df

,age,gender,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,1,27.900,0,1,16884.92400,0,0,0,1
1,18,0,33.770,1,0,1725.55230,0,0,1,0
2,28,0,33.000,3,0,4449.46200,0,0,1,0
3,33,0,22.705,0,0,21984.47061,0,1,0,0
4,32,0,28.880,0,0,3866.85520,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
1333,50,0,30.970,3,0,10600.54830,0,1,0,0
1334,18,1,31.920,0,0,2205.98080,1,0,0,0
1335,18,1,36.850,0,0,1629.83350,0,0,1,0
1336,21,1,25.800,0,0,2007.94500,0,0,0,1
1337,61,1,29.070,0,1,29141.36030,0,1,0,0

# Step IV : Feature Engineering

# Step V : Feature Selection

# Step VI : Model Training

In [43]:
df1 = df.drop(['region_northeast','region_northwest','region_southeast','region_southwest'],axis = 1,inplace = True)
df1

## Train Test Split

In [45]:
x = df.drop('charges',axis = 1)
y = df['charges']

x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=0.25, random_state=22)
x_train

      age  gender     bmi  children  smoker
194    18       0  34.430         0       0
879    37       1  29.500         2       0
1230   52       0  34.485         3       1
117    29       1  27.940         1       1
567    41       0  30.590         2       0
...   ...     ...     ...       ...     ...
356    46       0  43.890         3       0
960    19       1  39.615         1       0
812    54       0  21.010         2       0
132    53       1  35.900         2       0
885    32       0  28.930         1       1

[1003 rows x 5 columns]

In [46]:
x_test

      age  gender    bmi  children  smoker
1231   20       1  21.80         0       1
768    64       1  39.70         0       0
847    23       0  50.38         1       0
510    56       0  32.11         1       0
363    21       1  26.40         1       0
...   ...     ...    ...       ...     ...
1091   55       1  29.83         0       0
1001   24       0  32.70         0       1
969    39       1  34.32         5       0
342    60       1  27.55         0       0
811    33       1  42.94         3       0

[335 rows x 5 columns]

In [47]:
y_train

194      1137.46970
879      6311.95200
1230    60021.39897
117     19107.77960
567      7256.72310
           ...
356      8944.11510
960      2730.10785
812     11013.71190
132     11163.56800
885     19719.69470
Name: charges, Length: 1003, dtype: float64

## Instantiating Linear Regression model

In [48]:
linear_reg = LinearRegression()
linear_reg.fit(x_train, y_train)

LinearRegression()

## Evaluation

In [50]:
y_pred = linear_reg.predict(x_test)

mse = mean_squared_error(y_test, y_pred)
print("MSE :",mse)

rmse = np.sqrt(mse)
print("RMSE :",rmse)

mae = mean_absolute_error(y_test, y_pred)
print("MAE :",mae)

r2_value = r2_score(y_test,y_pred)
print('r2_value :',r2_value)

MSE : 36287772.396299444
RMSE : 6023.933299456381
MAE : 4161.9214762430975
r2_value : 0.7575405070402108

In [51]:
y_pred_train = linear_reg.predict(x_train)

mse = mean_squared_error(y_train, y_pred_train)
print("MSE :",mse)

rmse = np.sqrt(mse)
print("RMSE :",rmse)

mae = mean_absolute_error(y_train, y_pred_train)
print("MAE :",mae)

r2_value = r2_score(y_train, y_pred_train)
print('r2_value :',r2_value)

MSE : 36922825.74537853
RMSE : 6076.415534291457
MAE : 4278.836525087315
r2_value : 0.7462015795625183

### Testing on User Inputs

In [60]:
csv_file_path = "medical_insurance.csv"
df1 = pd.read_csv(csv_file_path)
df1

      age  gender     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [61]:
df1 = pd.get_dummies(df1 , columns=['region'])
df1

,age,gender,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,female,27.900,0,yes,16884.92400,0,0,0,1
1,18,male,33.770,1,no,1725.55230,0,0,1,0
2,28,male,33.000,3,no,4449.46200,0,0,1,0
3,33,male,22.705,0,no,21984.47061,0,1,0,0
4,32,male,28.880,0,no,3866.85520,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,10600.54830,0,1,0,0
1334,18,female,31.920,0,no,2205.98080,1,0,0,0
1335,18,female,36.850,0,no,1629.83350,0,0,1,0
1336,21,female,25.800,0,no,2007.94500,0,0,0,1
1337,61,female,29.070,0,yes,29141.36030,0,1,0,0

In [65]:
x = df1.drop('charges',axis = 1)
x.columns

Index(['age', 'gender', 'bmi', 'children', 'smoker', 'region_northeast',
       'region_northwest', 'region_southeast', 'region_southwest'],
      dtype='object')

In [74]:
project_data = {'gender' : {'male': 0, 'female': 1},
               'smoker' : {'no': 0, 'yes': 1},
               'Columns' : x.columns}

project_data

{'gender': {'male': 0, 'female': 1},
 'smoker': {'no': 0, 'yes': 1},
 'Columns': Index(['age', 'gender', 'bmi', 'children', 'smoker', 'region_northeast',
        'region_northwest', 'region_southeast', 'region_southwest'],
       dtype='object')}

In [87]:
age     =61
gender  ='female'
bmi     =29.07
children=0
smoker  ='yes'
region  ='northwest'

gender = project_data['gender'][gender]
smoker = project_data['smoker'][smoker]

region = "region_"+ region
region_index = np.where(project_data['Columns'] == region)[0][0]
print('region_index :',region_index)

test_array = np.zeros(x.shape[1])
test_array[0] = age
test_array[1] = gender
test_array[2] = bmi
test_array[3] = children
test_array[4] = smoker
test_array[region_index] = 1
test_array

predicted_charges = np.around(np.exp(test_array)[0],3)
print('predicted_charges :',predicted_charges)

region_index : 6
predicted_charges : 3.10429793570192e+26

In [90]:
with open('linear_reg_model.pkl','wb') as f:
    pickle.dump(linear_reg,f)

In [91]:
project_data = {'gender' : {'male': 0, 'female': 1},
               'smoker' : {'no': 0, 'yes': 1},
               'Columns' : x.columns.tolist()}

In [92]:
with open('project_data.json','w') as f:
    json.dump(project_data,f)